// @import “../node_modules/bootstrap/scss/bootstrap.scss”;

$primary: #185fd1;
$secondary: #528fb7;
$warning: #a85353;
$highlight: #f2ff00;
$light: #f1ebf3;
// $white: #E8D8F0;
$body-bg: #DECDEB;
// $black: #ff0037;
$body-color: #73414C;
$something: #43374d;

  
  @import "../node_modules/bootstrap/scss/bootstrap.scss";

.highlight{
    color:$highlight;
}