// @import “../node_modules/bootstrap/scss/bootstrap.scss”;

$primary: #0000ff;
$light: #E8D8F0;
// $white: #E8D8F0;
$body-bg: #DECDEB;
// $black: #73414C;
$body-color: #73414C;

  
  @import "../node_modules/bootstrap/scss/bootstrap.scss";