@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import '~mdb-ui-kit/css/mdb.min.css';

@font-face {
    font-family: Questral;
    src: local("Questral"), url('./fonts/Questrial-Regular.ttf') format('truetype');
}

@font-face {
    font-family: TypeThis;
    src: local("TypeThis"), url("./fonts/TypeThisFamosaHeavy.otf") format('opentype');
    font-weight: medium;
}

html {
    scroll-padding-top: 3.5rem;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: "Questral";
}

#title{
    font-family: "TypeThis";
    font-size: 64pt;
    background: -webkit-linear-gradient(#DD7D6E, #DA5B77);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-height{
    min-height: 25vh;
}

.page-height{
    /* max-width: 50%; */
}

.navi{
    font-size: 1rem;
}

.bi{
    font-size: 2rem;
}

.i-sk{
    font-size: 24pt;
}

.t-sk{
    font-size: 24pt;
}

.i-project{
    font-size:32pt;
}

.zback{
    position:fixed;
    z-index: -1;
}

a.anchor {
    /* display: block;
    position: relative; */
    top: -250px;
    /* visibility: hidden; */
}

.transitional {
    animation-delay: 1s;
    transition: opacity 1s;
    opacity: 1;
    position: absolute;
    
}
.transitional.hide{
    opacity: 0;
    pointer-events: none;
    position:absolute;
}

img{
    overflow:hidden;
    width:100%;
}

.project{
    position: relative;
    background-image: linear-gradient(to bottom,#91a6c1,#DECDEB 100%);
    z-index: 1;
}

.project::before{
    position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom,#808080,#a0a0a0);
  z-index: -1;
  transition: opacity .5s;
  opacity: 0;
}

.project:hover::before{
    opacity: 1;
}

.project .img-project{
    transition: filter .5s;
    mix-blend-mode:overlay;
    filter:grayscale(1) brightness(.75);
}

.project:hover .img-project{
    transition: filter .25s;
    filter:grayscale(0) brightness(1);
}